* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Redressed-Regular';
    src: url("Redressed-Regular.ttf");
}


:root {
    --main-color: #ff872f;
    --main-color-light: rgba(242, 128, 49, 0.55);
    --main-color-dark: #6a3616;
}

body {
    background: #6e6e6e !important;
    font-family: "Redressed-Regular", sans-serif !important;
}

button {
    font-size: 2rem !important;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    color: var(--main-color);
    background: #2e2e2e !important;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 4rem;
}

#time {
    font-size: 2.5rem;
    min-width: 120px;
}

.main {
    display: contents;
}

.main p {
    font-size: 3rem;
    color: var(--main-color);
    align-self: center;
}

#start {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2%;
}

#start button {
    width: 140px;
    align-self: center;
    margin-left: 25px;
    height: 40px;
}

#start #startBtn {
    height: 50px;
    width: 200px;
}

#nameDiv {
    display: none;
    padding: 20px 60px;
    text-align-last: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
}

#nameDiv h1 {
    font-size: 2.5rem;
    padding-bottom: 10px;
    color: #eeeeee;
}

#nameDiv h1,
#nameDiv p {
    margin: 0;
}


#change {
    margin-top: 10px;
    margin-right: 20px;
}

#enterName {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    padding: 42px 20.5px;
}

.rules {
    background: url('rules.png') #ddc2ab;
}

.container {
    max-width: 888px;
    min-height: 560px;
    margin: 50px auto;
    box-shadow: 0 0 8px;
    padding: 0 !important;
    cursor: pointer;
}

.box {
    width: 140px;
    height: 140px;
    border: 1px solid #eee;
    float: left;
    box-shadow: 0 0 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.7s;
    margin: 4px;
}

.front {
    width: 140px;
    height: 140px;
    position: absolute;
    background: repeating-radial-gradient(circle, var(--main-color-light),var(--main-color-light) 0px, var(--main-color-dark) 10px, var(--main-color-dark) 20px);
    backface-visibility: hidden;
    transition: all 0.7s;
}

.back {
    width: 140px;
    height: 140px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: var(--main-color);
    text-shadow: 1px 1px 1px black;
    backface-visibility: hidden;
    transition: all 0.7s;
    transform: perspective(900px) rotateY(180deg);
}

#scoreboard {
    padding: 15px;
    border: 1px solid #eee;
    height: 10vh;
    box-shadow: 0 0 8px;
}

.scores {
    margin: 8px;
    display: inline-block;
}

.scores p{
font-size: 2.5rem;
}

.fa {
    font: normal normal normal 14px/1.5 FontAwesome !important;
    font-size: 9rem !important;
}

input.form-control {
    font-size: 2.5rem;
}


